p {
  margin-top: 10px;
  margin-bottom: 10px;
}
body {
  color: #000;
  background: #ccc;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.projectcontainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Styling*/

.h1box1 {
  position: absolute;
  top: 0px;
  left: 25%;
  text-align: center;
  min-width: 200px;
  z-index: 200000;
}

.h1box2 {
  position: absolute;
  bottom: 0px;
  left: 75%;
  min-width: 200px;
  text-align: center;
  z-index: 200000;
}

.h1box3 {
  position: absolute;
  top: 45%;
  left: 0;
  text-align: center;
  width: 42px;
  height: 200px;
  z-index: 300000;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.limalink {
  width: 40%;
  vertical-align: middle;
  margin-left: -6px;
}

a {
  text-decoration: none;
}

.window {
  z-index: 0;
  position: absolute;
  min-width: 200px;
  min-height: 0px;
  background: #444;
  color: #eee;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.window-title {
  cursor: pointer;
}

.selected {
  box-shadow: 0px 0px 10px grey;
}

.box {
  display: none;
  background: #777;
  color: #fff;
  min-width: 200px;
  min-height: 50px;
}

.open .box {
  display: block;
}

.descr {
  display: block;
}

.box iframe {
  height: 100%;
  width: 100%;
}

.dbl {
  background-color: violet;
}

iframe {
  width: 100%;
  height: 100%;
}

/* #youtube {
  margin-left: 20px;
  width: 960px;
  margin-top: 20px;
  height: 510px;
} */

.header {
  visibility: hidden;
}

a {
  color: #fff;
}

p,
h1,
h2,
h3,
h4 {
  padding-left: 10px;
  padding-right: 10px;
}

/*ON DOUBLECLICK.HTML FILE*/

div.product {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: auto;
  margin: 0 47px 0 0;
  padding: 24px 22px 20px 27px;
  border: 1px solid transparent;
}

div.product:last-child {
  margin: 0px;
}

div.product:hover {
  border: 1px solid #878787;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.product.unselected {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.product.selected {
  border: 1px solid #32a24e;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bottom-menu {
  width: 200px;
  max-height: 100%;
  overflow-y: auto;
}

.bottom-menu--icon {
  position: absolute;
  right: 16px;
  top: 10px;
}

.bottom-menu--title {
  cursor: pointer;
  text-align: left;
}

.bottom-menu--body {
  font-size: 12px;
  text-align: left;
  line-height: 1.2;
}

.box-text p {
  font-size: 12px;
  line-height: 1.2;
}

.box-text a {
  text-decoration: underline;
}

.box-text img {
  max-width: 100%;
}
