p {
  margin-top: 10px;
  margin-bottom: 10px;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("roboto-regular-webfont.woff") format("woff");
}

body {
  color: #000;
  background: #ccc;
  font-family: Roboto-Regular;
  overflow: hidden;
}

.projectcontainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Styling*/

.h1box1 {
  position: absolute;
  top: 0px;
  left: 25%;
  text-align: center;
  min-width: 200px;
}

.h1box2 {
  position: absolute;
  min-width: 200px;
  bottom: 0px;
  text-align: center;
  left: 75%;
}

.h1box3 {
  position: absolute;
  top: 500px;
  left: -80px;
  min-width: 200px;
  text-align: center;
  text-transform: rotate(-90deg);
}

a {
  text-decoration: none;
}

.window {
  z-index: 0;
  position: absolute;
  min-width: 200px;
  min-height: 0px;
  background: #444;
  color: #eee;
  cursor: pointer;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.selected {
  box-shadow: 0px 0px 10px grey;
}

.box {
  display: none;
  background: #777;
  color: #fff;
  min-width: 200px;
  min-height: 50px;
}

.open .box {
  display: block;
}

.descr {
  display: block;
}

.box iframe {
  height: 100%;
  width: 100%;
}

.dbl {
  background-color: violet;
}

iframe {
  width: 100%;
  height: 100%;
}

#youtube {
  margin-left: 20px;
  width: 960px;
  margin-top: 20px;
  height: 510px;
}

a {
  color: #fff;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

/*ON DOUBLECLICK.HTML FILE*/

div.product {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: auto;
  margin: 0 47px 0 0;
  padding: 24px 22px 20px 27px;
  border: 1px solid transparent;
}

div.product:last-child {
  margin: 0px;
}

div.product:hover {
  border: 1px solid #878787;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.product.unselected {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.product.selected {
  border: 1px solid #32a24e;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
